name: Next Publication

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-20.04
    permissions:
      contents: read
      id-token: write
    env:
      working-directory: js-library

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          registry-url: "https://registry.npmjs.org"
      - name: Package next
        working-directory: ${{env.working-directory}}
        run: ./scripts/package-next
      - name: Set up npm
        working-directory: ${{env.working-directory}}
        run: printf '%s\n' '//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}' registry=https://registry.npmjs.org/ always-auth=true >> .npmrc
      - name: Publish
        working-directory: ${{env.working-directory}}
        run: npm publish --prefix dist --provenance --tag next
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
