name: Playwright Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-22-04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - uses: actions/cache@v4
        id: cache
        with:
          path: |
            ~/.cargo
            target
          key: cargo-${{ hashFiles('rust-toolchain.toml', 'Cargo.lock') }}
          restore-keys: cargo-
      - name: Install dependencies
        working-directory: dummy-e2e
        run: npm ci
      - name: Install ic-wasm
        run: cargo install ic-wasm --version 0.3.5
      - name: Install Playwright Browsers
        working-directory: dummy-e2e
        run: npx playwright install --with-deps
      - name: Install dfx
        uses: dfinity/setup-dfx@main
      - name: Start local replica
        run: dfx start --background
      - name: Deploy canisters
        run: dfx deploy
      - name: Prepare environment variables
        working-directory: dummy-e2e
        run: ./create-env-vars.sh
      - name: Run Playwright tests
        working-directory: dummy-e2e
        run: npm run e2e
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
      - name: Stop local replica
        run: dfx stop
