name: Publish Release

on:
  release:
    types: [released]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    env:
      working-directory: js-library
      dist-directory: js-library/dist

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare and Build JS Library
        uses: ./.github/actions/prepare
        with:
          folder: ${{env.working-directory}}

      - name: Publish
        working-directory: ${{env.dist-directory}}
        run: ../scripts/publish-npm.sh
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
