name: Publish Release

on:
  release:
    types: [released]

jobs:
  publish:
    runs-on: ubuntu-20.04
    permissions:
      contents: read
      id-token: write
    env:
      working-directory: js-library
      dist-directory: js-library/dist

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-node@v4

      - name: Prepare and Build JS Library
        uses: ./.github/actions/prepare

      - name: Set up npm
        working-directory: ${{env.dist-directory}}
        run: printf '%s\n' '//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}' registry=https://registry.npmjs.org/ always-auth=true >> .npmrc

      - name: Publish
        working-directory: ${{env.dist-directory}}
        run: ./scripts/publish-npm.sh
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
